OPENAI_API_KEY=<apikey>
GOOGLE_API_KEY=<apikey>

LANGSMITH_TRACING=<true/false>
LANGSMITH_API_KEY=<apikey>
LANGSMITH_PROJECT=<project-name>
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# LLM_PROVIDER=openai
# LLM_PROVIDER=gemini
LLM_PROVIDER=ollama


